<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<script src="https://cdn.tailwindcss.com"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.js"
		integrity="sha512-+k1pnlgt4F1H8L7t3z95o3/KO+o78INEcXTbnoJQ/F2VqDVhWoaiVml/OEHv9HsVgxUaVW+IbiZPUJQfF/YxZw=="
		crossorigin="anonymous" referrerpolicy="no-referrer"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.0.0/datepicker.min.js"></script>
</head>


<body class="antialiased text-slate-500 dark:text-slate-400 bg-white dark:bg-slate-900">
	<div
		class="sticky top-0 z-40 w-full backdrop-blur flex-none transition-colors duration-500 lg:z-50 lg:border-b lg:border-slate-900/10 dark:border-slate-50/[0.06] bg-white/95 supports-backdrop-blur:bg-white/60 dark:bg-transparent">
		<div class="max-w-8xl mx-auto">
			<div class="py-4 border-b border-slate-900/10 lg:px-8 lg:border-0 dark:border-slate-300/10 mx-4 lg:mx-0">
				<div class="relative flex items-center">
					<a class="mr-3 flex" href="/"><img class="h-12 mr-6
    " src="https://upload.wikimedia.org/wikipedia/commons/f/fc/UPC_logo_transparente.png"><span
							class="self-center text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl dark:text-white">Sistema
							de Automatizacion Contable</span></a>

					<div class="relative hidden lg:flex items-center ml-auto">
						<nav class="text-sm leading-6 font-semibold text-slate-700 dark:text-slate-200">
							<ul class="flex space-x-8">
								<li>Usuario: <span sec:authentication="name"></span> </li>
								<li>
									<form th:action="@{/logout}" method="post" style="display:inline"><input
											class="hover:text-sky-500 dark:hover:text-sky-40" type="submit"
											value="Cerrar Sesión" /></form>
								</li>
							</ul>

					</div>

				</div>
			</div>
		</div>
	</div>
	<div class="flex">

		<aside id="default-sidebar"
			class="top-0 left-0 z-40 w-70 h-screen transition-transform -translate-x-full sm:translate-x-0"
			aria-label="Sidebar">
			<div class="h-full px-3 py-4 overflow-y-auto bg-blue-50 dark:bg-blue-800">
				<ul class="space-y-2 font-medium">
					<li>
						<a th:href="@{'/user/A/index'}"
							class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-blue-900 hover:text-white dark:hover:bg-blue-900 group"
							th:classappend="${nombre == 'A' ? 'bg-blue-900 text-white' : ''}">
							<span class="flex-1 ml-3 whitespace-nowrap">Pagos</span>

						</a>
					</li>
					<li>
						<a th:href="@{'/user/B/index'}"
							class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-blue-900 hover:text-white dark:hover:bg-blue-900 group"
							th:classappend="${nombre == 'B' ? 'bg-blue-900 text-white' : ''}">

							<span class="flex-1 ml-3 whitespace-nowrap">Facturas</span>
						</a>
					</li>
					<li  th:if="${#authorization.expression('hasRole(''ADMIN'')')}">
						<a th:href="@{'/user/users'}"
							class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-blue-900 hover:text-white dark:hover:bg-blue-900 group"
							th:classappend="${nombre == 'C' ? 'bg-blue-900 text-white' : ''}">

							<span class="flex-1 ml-3 whitespace-nowrap">Usuarios</span>
						</a>
					</li>
				</ul>
			</div>
		</aside>
		<main class="w-full bg-gray-50 dark:bg-gray-900 ">
			<!-- Start block -->
			<section class="p-3 sm:p-5 antialiased">
				<div class="mx-auto max-w-screen-xl px-4 lg:px-12">
					<!-- Start coding here -->
					<div class="bg-white dark:bg-gray-800 relative shadow-md sm:rounded-lg overflow-hidden">
						<div
							class="flex flex-col md:flex-row items-center justify-between space-y-3 md:space-y-0 md:space-x-4 p-4">
							<div class="w-full md:w-1/2">
								<h1
									class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl dark:text-white">
									Lista de Usuarios
								</h1>
							</div>
							<div
								class="w-full md:w-auto flex flex-col md:flex-row space-y-2 md:space-y-0 items-stretch md:items-center justify-end md:space-x-3 flex-shrink-0">
								<a th:href="@{'/user/add-user'}"
									class="bg-blue-900 text-medium text-gray-50 flex items-center justify-center text-white bg-primary-700 hover:bg-primary-800 focus:ring-4 focus:ring-primary-300 font-medium rounded-lg text-sm px-4 py-2 dark:bg-primary-600 dark:hover:bg-primary-700 focus:outline-none dark:focus:ring-primary-800">
									<svg class="h-3.5 w-3.5 mr-2" fill="currentColor" viewbox="0 0 20 20"
										xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
										<path clip-rule="evenodd" fill-rule="evenodd"
											d="M10 3a1 1 0 011 1v5h5a1 1 0 110 2h-5v5a1 1 0 11-2 0v-5H4a1 1 0 110-2h5V4a1 1 0 011-1z" />
									</svg>
									Agregar Usuario
								</a>
							</div>
						</div>
						<div class="overflow-x-auto">
							<table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
								<thead
									class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
									<tr>
										<th scope="col" class="px-4 py-4">Correo</th>
										<th scope="col" class="px-4 py-3">Estado</th>
										<th scope="col" class="px-4 py-3">Nombre</th>
										<th scope="col" class="px-4 py-3">Apellido</th>
										<th scope="col" class="px-4 py-3">Rol</th>
										<th scope="col" class="px-4 py-3">
											<span class="sr-only">Acciones</span>
										</th>
									</tr>
								</thead>
								<tbody>
									<tr class="border-b dark:border-gray-700" th:each="usuario: ${usuarios}">
										<th scope="row"
											class="px-4 py-3 font-medium text-gray-900 whitespace-nowrap dark:text-white"
											th:text="${usuario.username}"></th>
										<td class="px-4 py-3"
											th:text="${usuario.enabled == '1' ? 'Habilitado': 'Deshabilitado'}">PC</td>
										<td class="px-4 py-3" th:text="${usuario.firstname}">Apple</td>
										<td class="px-4 py-3 max-w-[12rem] truncate" th:text="${usuario.lastname}">What
											is a product description? A product description describes a product.</td>
										<td class="px-4 py-3"
											th:text="${usuario.authority == 'ROLE_USER' ? 'Usuario': 'Admin'}">$2999
										</td>
										<td class="px-4 py-3 flex items-center justify-end">
											<span
												class="bg-blue-900 text-medium text-gray-50 flex items-center justify-center text-white bg-primary-700 hover:bg-primary-800 focus:ring-4 focus:ring-primary-300 font-medium rounded-lg text-sm px-4 py-2 dark:bg-primary-600 dark:hover:bg-primary-700 focus:outline-none dark:focus:ring-primary-800">
												<a th:href="@{'/user/user-disable/' + ${usuario.enabled} + '/' + ${usuario.username}}"
													th:text="${usuario.enabled == '1' ? 'Desactivar': 'Activar'}">
												</a> </span>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</section>
			<!-- <div
				class="w-full md:w-auto flex flex-col md:flex-row space-y-2 md:space-y-0 items-stretch md:items-center justify-end md:space-x-3 flex-shrink-0">
				<a th:href="@{'/user/add-user'}"
					class="bg-blue-900 text-medium text-gray-50 flex items-center justify-center text-white bg-primary-700 hover:bg-primary-800 focus:ring-4 focus:ring-primary-300 font-medium rounded-lg text-sm px-4 py-2 dark:bg-primary-600 dark:hover:bg-primary-700 focus:outline-none dark:focus:ring-primary-800">
					<svg class="h-3.5 w-3.5 mr-2" fill="currentColor" viewbox="0 0 20 20"
						xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
						<path clip-rule="evenodd" fill-rule="evenodd"
							d="M10 3a1 1 0 011 1v5h5a1 1 0 110 2h-5v5a1 1 0 11-2 0v-5H4a1 1 0 110-2h5V4a1 1 0 011-1z" />
					</svg>
					Agregar Usuario
				</a>
			</div>
			<div class="px-3 py-4 overflow-y-auto bg-gray-100 dark:bg-gray-800">
				<div th:each="usuario: ${usuarios}"
					class="mt-2 px-3 py-4 rounded-lg border-green-300 bg-blue-900 text-medium text-gray-50">
					<span>Usuario: </span>
					<span class="ml-1 font-semibold" th:text="${usuario.username}" />
					<span class="ml-4">Estado: </span>
					<span class="ml-1 font-semibold"
						th:text="${usuario.enabled == '1' ? 'Habilitado': 'Deshabilitado'}" />
					<span class="ml-4 ">Nombre: </span>
					<span class="ml-1 font-semibold" th:text="${usuario.firstname}" />
					<span class="ml-4">Apellido: </span>
					<span class="ml-1 font-semibold" th:text="${usuario.lastname}" />
					<span class="ml-4">Rol: </span>
					<span class="ml-1 font-semibold" th:text="${usuario.authority}" />
					<span
						class="ml-4 rounded-md bg-indigo-600 px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-gray-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-gray-600">
						<a th:href="@{'/user/user-disable/' + ${usuario.enabled} + '/' + ${usuario.username}}"
							th:text="${usuario.enabled == '1' ? 'Desactivar': 'Activar'}">
						</a> </span>
					<span
						class="ml-4 rounded-md bg-indigo-600 px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-gray-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-gray-600"><a>Editar</a>
					</span> 
				</div>

			</div> -->
		</main>
	</div>
</body>

</html>